<div class='navbar header navbar_dictionary'>
  <div class='nav navbar-brand'><a href="<%=definitions_path%>"><%= image_tag "icon_rails.png" %></a></div>
  <ul>
    <li><%= link_to 'Create an Account', new_user_path %></li>
    <% if current_user == nil %>
    <li class="dropdown" id="menuLogin">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
      <div class="dropdown-menu" style="padding:17px;">
        <%= form_tag(sessions_path, method: :post, id: "formLogin") %>
        <input name="email" id="email" type="text" placeholder="Email">
        <input name="password" id="password" type="password" placeholder="Password"><br>
        <button type="button" id="btnLogin" class="btn">Login</button>
      </form>
    </div>
    <%else%>
    <li id='new_word'><%= link_to 'Add a word', new_definition_path %></li>
    <li><%= link_to "Logout", sessions_path, method: :delete, data: { confirm: 'Really logout?' } %></li>
  </ul>
  <%end%>
  <form method="get" action="<%= search_definitions_path %>" class="navbar-form pull-right" role="search">
    <input type="text" class="form-control" placeholder="Search" name="search">
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
