<div class='navbar header navbar_dictionary'>
  <div class='nav navbar-brand'><%= image_tag "icon_rails.png" %></div>
    <ul>
  <li id='new_word'><%= link_to 'Add a word', new_definition_path %></li>
</ul>
</div>
<p id="notice"><%= notice %></p>
  <div class='container'>
<h1>Definitions</h1>

<body>
  <% @definitions.each do |definition| %>

  <div class="col-md-6">
  <div class="row">
  <span>
    <a id='word' href="<%= definition_path(definition) %>" ><%= definition.word %></a>
    <%= link_to 'edit word', edit_definition_path(definition) %>
    <%= link_to 'delete word', definition, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
</div>
  <p class="row">
    <%= definition.meaning %>
  </p>

</div>
  <% end %>
  </div>
</body>
