<div class='container'>
  <p id="notice"><%= notice %></p>

  <div class="col-md-6">
    <div class="row">
      <span>
        <span id='word'><%=@definition.word %></span>
        <%= link_to 'Edit', edit_definition_path(@definition) %>
      </span>
    </div>
    <p class="row">
      <%= @definition.meaning %>
    </p>
    <%= link_to 'Back', definitions_path %>
  </div>
